<!--for styling, change file type to html, run live server, make changes, then change back to ejs-->
<!-- make page background react to colours in poster -->

<!DOCTYPE HTML>
<html>

<head>
    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discover</title>

    <link rel="stylesheet" href="/styles/index.css" />
    <link rel="stylesheet" href="/bootstrap/css/mdb.min.css" />
    <script src="/bootstrap/js/mdb.min.js"></script>
    <script src="/scripts/index.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>

<body>

    <!-- Nav bar -->
    <div class="py-1 text-center bg-white border-bottom">
        <div class="container">
            <div class="row align-items-center justify-content-between">

                <!-- Left elements -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <% if (session && session.email) { %>
                        <!-- sign in button -->
                        <form action="/signout" method="POST">
                            <button type="submit" class="border rounded nav-link d-inline-block">
                                <p class="btn mb-0">Sign out</p>
                            </button>
                        </form>

                        <% } else { %>
                            <!-- sign up and sign in buttons -->
                            <a href="/createAccount" class="border rounded nav-link d-inline-block">
                                <p class="btn d-md-block mb-0">Sign up</p>
                            </a>
                            <a href="/login" class="border rounded nav-link d-inline-block">
                                <p class="btn d-md-block mb-0">Sign in</p>
                            </a>
                            <% } %>
                </div>

                <!-- Centered title -->
                <div class="col-lg-4 col-md-6 col-sm-12" id="page_title" style="cursor: pointer;">
                    <h1>C I N E P H I L E</h1>
                </div>

                <!-- Right elements -->
                <div class="col-lg-4 col-md-12 col-sm-12 text-end">
                    <% if (session && session.email) { %>
                        <!-- watchlist and profile buttons -->
                        <a href="/recommend" class="border rounded nav-link d-inline-block">
                            <p class="btn d-md-block mb-0">Recommend</p>
                        </a>
                        <a href="/profile" class="border rounded nav-link d-inline-block">
                            <p class="btn d-md-block mb-0">My films</p>
                        </a>
                        <a href="/watchlist" class="border rounded nav-link d-inline-block">
                            <p class="btn d-md-block mb-0">Watchlist</p>
                        </a>
                        <% } %>
                </div>
            </div>
        </div>
    </div>
    <!-- END nav bar -->


    <!-- page content -->
    <div class="container m-1">

        <div class="row">

            <!-- Filters -->
            <div class="container position-absolute m-2 d-flex" style="width: 15%;">

                <!-- filter blank button -->
                <svg id="filter-blank" xmlns="http://www.w3.org/2000/svg" width="32" height="32" type="button"
                    class="bi bi-filter-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                    <path
                        d="M7 11.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5" />
                </svg>

                <!-- filter filled blank -->
                <svg id="filter-filled" xmlns="http://www.w3.org/2000/svg" width="32" height="32" type="button"
                    class="bi bi-filter-circle-fill" viewBox="0 0 16 16" style="display:none;">
                    <path
                        d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16M3.5 5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1 0-1M5 8.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m2 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5" />
                </svg>

                <div class="d-flex align-items-center justify-content-center">


                    <div id="filterOptions" class="container border border-2 rounded-5 m-2 p-3"
                        style="display: none; background-color: white;">
                        <form>
                            <div class="mb-2">
                                <label for="filterYear" class="form-label">Year</label>
                                <select id="filterYear" class="form-select">
                                    <option selected>Any</option>
                                    <option>2022</option>
                                    <option>2021</option>
                                    <!-- more... -->
                                </select>
                            </div>

                            <div class="mb-2">
                                <label for="filterGenre" class="form-label">Genre</label>
                                <select id="filterGenre" class="form-select">
                                    <option selected>Any</option>
                                    <option>Action</option>
                                    <option>Drama</option>
                                    <!-- more... -->
                                </select>
                            </div>

                            <div class="mb-2">
                                <label for="filterRuntime" class="form-label">Runtime</label>
                                <select id="filterRuntime" class="form-select">
                                    <option selected>Any</option>
                                    <option>1 hour or less</option>
                                    <option>90 min</option>
                                    <option>2 hours</option>
                                    <option>150 min</option>
                                    <option>3 hours or more</option>
                                    <!-- more... -->
                                </select>
                            </div>

                            <div class="mb-2">
                                <label for="filterRating" class="form-label">Rating</label>
                                <select id="filterRating" class="form-select">
                                    <option selected>Any</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <!-- more... -->
                                </select>
                            </div>


                            <button type="submit" class="btn btn-primary text-start mt-3">apply</button>
                        </form>
                    </div>
                    <!-- END Options box -->

                </div>

            </div>
            <!-- END filters -->

            <!-- Film poster carousel -->
            <div class="col-lg-6 col-md-6 col-sm-12 py-5 carousel-container">

                <div class="carousel slide" id="film-carousel" data-bs-ride="carousel">
                    <div class="d-flex align-items-center justify-content-center">

                        <!-- film poster -->
                        <div class="carousel-inner">
                            <div id="spinner" class="loading-spinner" style="display: block;"></div>
                            <div id="film-poster" class="carousel-item active">

                                <!-- Film poster will be displayed here -->
                            </div>
                        </div>

                        <!-- previous button -->
                        <button style="background-color: rgba(255, 255, 255, 0);" id="prev-btn"
                            class="carousel-control-prev" type="button" data-bs-target="#film-carousel"
                            data-bs-slide="prev">
                            <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="grey"
                                class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                                <path
                                    d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z" />
                            </svg>
                        </button>

                        <!-- next button -->
                        <button style="background-color: rgba(255, 255, 255, 0);" id="next-btn"
                            class="carousel-control-next" type="button" data-bs-target="#film-carousel"
                            data-bs-slide="next">
                            <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="grey"
                                class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                                <path
                                    d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                            </svg>
                        </button>

                    </div>
                </div>
            </div>
            <!-- END film poster carousel -->

            <!-- Film info -->
            <div class="col-lg-6 col-md-6 col-sm-12 py-2">
                <div class="container">

                    <% if (session && session.email) { %>
                        <div id="film-info" class="h3 text-center" data-email="<%= session.email %>">
                            <% } else { %>
                                <div id="film-info" class="h3 text-center">
                                    <% } %>
                                        <!--  Film data displayed here from scripts/index.js -->
                                </div>

                                <!-- END film info -->


                                <!-- watchlist and like buttons -->
                                <div class="row d-flex py-2">

                                    <div class="col-lg-6 col-md-6 col-sm-6 text-end">
                                        <!--heart filled-->
                                        <svg id="heart-filled" xmlns="http://www.w3.org/2000/svg" width="48" height="48"
                                            class="bi bi-heart-fill" type="button" viewBox="0 0 16 16"
                                            style="display:none;">
                                            <path
                                                d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314" />
                                        </svg>
                                        <!--heart blank-->
                                        <svg id="heart-blank" xmlns="http://www.w3.org/2000/svg" width="48" height="48"
                                            class="bi bi-heart" type="button" viewBox="0 0 16 16" style="display:none;">
                                            <path
                                                d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15" />
                                        </svg>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-6 text-start">
                                        <!--watchlist filled-->
                                        <svg id="watchlist-filled" xmlns="http://www.w3.org/2000/svg" width="48"
                                            height="48" class="bi bi-plus-square-fill" type="button" viewBox="0 0 16 16"
                                            style="display:none;">
                                            <path
                                                d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0" />
                                        </svg>
                                        <!--watchlist blank-->
                                        <svg id="watchlist-blank" xmlns="http://www.w3.org/2000/svg" width="48"
                                            height="48" class="bi bi-plus-square" type="button" viewBox="0 0 16 16"
                                            style="display:none;">
                                            <path
                                                d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z" />
                                            <path
                                                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                                        </svg>
                                    </div>

                                </div>
                                <!-- END add and like buttons -->



                        </div>
                </div>

            </div>
            <!-- END film info -->

        </div>

    </div>
    <!-- END page content -->

</body>


<footer>

    <!-- jquery liking functionality -->
    <script>

        $(document).ready(async function () {

            if (`<%= session.id %>`) {

                //load liked attributes for myFilms on updateFilm()
                $(document).on("updateFilm", async function (event) {

                    //current film_id
                    tconst = event.detail;

                    //get user's film data
                    try {
                        watchList = await fetchWatchList();
                        myLiked = await fetchLikedFilms();
                        myLoved = await fetchLovedFilms();
                    } catch (error) {
                        console.error(error);
                    }

                    //fetch liked attributes for films in myLiked
                    if (myLiked.some(film => film.tconst === tconst)) {

                        axios.get(`/getLikedElements?user_id=<%= session.id %>&film_id=${tconst}`)
                            .then(function (response) {

                                var likedElements = response.data.likedElements;
                                likedElements.forEach(function (attribute) {
                                    document.getElementById('_film' + attribute).classList.add('liked');
                                });

                                var likedCast = response.data.likedCast;
                                likedCast.forEach(function (name) {
                                    document.getElementById(name).classList.add('liked')
                                });


                            })
                            .catch(function (error) {
                                console.error(error);
                            });
                    };

                    //is current film in watchlist?
                    if (watchList.some(film => film.tconst === tconst)) {
                        $('#watchlist-filled').show();
                        $('#watchlist-blank').hide();
                    } else {
                        $('#watchlist-blank').show();
                        $('#watchlist-filled').hide();
                    }

                    //is current film loved?
                    if (myLoved.some(film => film.tconst === tconst)) {
                        likeAllElements();
                        $('#heart-filled').show();
                        $('#heart-blank').hide();
                    } else {
                        $('#heart-blank').show();
                        $('#heart-filled').hide();
                    }


                });
            };

        });

        //click on likeable element - save
        $('#film-info').on('click', '.likeable', async function (event) {

            //toggle 'liked' state of clicked element
            $(this).toggleClass("liked");

            //count liked elements
            var totalLikeables = $('.likeable').length;
            var likedCount = $('.likeable.liked').length;

            //if all elements are liked, love the film
            if (likedCount == totalLikeables) {

                //make post request and update loved films list
                Router_loveFilm();
                myLoved = await fetchLovedFilms();

                //toggle buttons
                $("#heart-blank").hide();
                $("#heart-filled").show();

            }
            //if film is already loved and an element is clicked, film is unloved
            else if (myLoved.some(film => film.tconst === tconst)) {

                //make post request and update loved films list
                Router_unloveFilm();
                myLoved = await fetchLovedFilms();
                saveElements();

                //toggle buttons
                $("#heart-filled").hide();
                $("#heart-blank").show();

            }
            //if none of the above just save the elements
            else {
                saveElements();
            }

        });

        //unlove film
        $("#heart-filled").click(async function () {

            Router_unloveFilm()
            myLoved = await fetchLovedFilms();

            //remove like from every liked element
            $('.likeable.liked').each(function () {
                $(this).removeClass('liked');
            });

            //toggle between buttons
            $(this).hide();
            $("#heart-blank").show();

        });

        //love film
        $("#heart-blank").click(async function () {

            likeAllElements()
            Router_loveFilm()
            myLoved = await fetchLovedFilms();

            //toggle between buttons
            $(this).hide();
            $("#heart-filled").show();

        });

        //remove from watchlist
        $("#watchlist-filled").click(async function () {

            try {
                await axios.post(`/deleteWatchlist`, { film_id: tconst, user_id: `<%= session.id %>` });
                watchList = await fetchWatchList();
            } catch (error) {
                console.error(error);
            }

            $(this).hide();
            $("#watchlist-blank").show();

        });

        //add to watchlist
        $("#watchlist-blank").click(async function () {

            try {
                await axios.post(`/addWatchlist`, { film_id: tconst, user_id: `<%= session.id %>` });
                watchList = await fetchWatchList();
            } catch (error) {
                console.error(error);
            }

            $(this).hide();
            $("#watchlist-filled").show();

        });

        //filter open
        $("#filter-blank").click(function () {
            $(this).hide();
            $("#filter-filled").show();
            $("#filterOptions").show();
            $("#filterOptions").css("z-index", "7");
        });

        //filter close
        $("#filter-filled").click(function () {
            $(this).hide();
            $("#filter-blank").show();
            $("#filterOptions").hide();
        });

        //like all likeable elements on page
        function likeAllElements() {
            $('.likeable').each(function () {
                $(this).addClass('liked');
            });
        }

        //POST - save liked elements
        async function saveElements() {

            //get id of each liked element
            var likedElements = [];
            var likedCast = [];
            $(".likeable.liked").each(function () {
                var elementId = $(this).attr("id");
                if ($(this).hasClass('cast')) {
                    likedCast.push(elementId)
                } else {
                    likedElements.push(elementId)
                }
            });

            //send liked elements to backend
            try {
                await axios.post('/saveLikedElements', { user_id: `<%= session.id %>`, film_id: tconst, elements: likedElements, cast: likedCast });
                myLiked = await fetchLikedFilms();
            } catch (error) {
                console.error(error);
            }

        }

        //POST - remove loved film
        async function Router_unloveFilm() {
            try {
                await axios.post(`/unloveFilm`, { film_id: tconst, user_id: `<%= session.id %>` });
            } catch (error) {
                console.error(error);
            }
        }

        //POST - add loved film
        async function Router_loveFilm() {
            try {
                await axios.post(`/loveFilm`, { film_id: tconst, user_id: `<%= session.id %>` });
            } catch (error) {
                console.error(error);
            }
        }

        //FETCH - get user's loved films
        async function fetchLovedFilms() {
            try {
                const response = await axios.get(`/getLovedFilms?user_id=<%= session.id %>`);
                return response.data;
            } catch (error) {
                console.error(error);
                throw error;
            }
        }

        //FETCH - get user's liked films
        async function fetchLikedFilms() {
            try {
                const response = await axios.get(`/getLikedFilms?user_id=<%= session.id %>`);
                return response.data;
            } catch (error) {
                console.error(error);
                throw error;
            }
        }

        //FETCH - get user's watchlist
        async function fetchWatchList() {
            try {
                const response = await axios.get(`/getWatchlist?user_id=<%= session.id %>`);
                return response.data;
            } catch (error) {
                console.error(error);
                throw error;
            }
        }


    </script>

</footer>

</html>